@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: hsl(var(--background));
}


@layer base {
  :root {
    --background: 230 16% 7%;
    --foreground: 230 16% 67%;
    --muted: 230 12% 15%;
    --muted-foreground: 230 12% 65%;
    --popover: 230 16% 4%;
    --popover-foreground: 230 16% 77%;
    --card: 230 16% 5%;
    --card-foreground: 230 16% 72%;
    --border: 230 6% 12%;
    --input: 230 6% 15%;
    --primary: 340 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 340 30% 75%;
    --secondary-foreground: 340 30% 15%;
    --accent: 230 16% 22%;
    --accent-foreground: 230 16% 82%;
    --destructive: 8 89% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 340 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 230 16% 7%;
    --foreground: 230 16% 67%;
    --muted: 230 12% 15%;
    --muted-foreground: 230 12% 65%;
    --popover: 230 16% 4%;
    --popover-foreground: 230 16% 77%;
    --card: 230 16% 5%;
    --card-foreground: 230 16% 72%;
    --border: 230 6% 12%;
    --input: 230 6% 15%;
    --primary: 340 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 340 30% 75%;
    --secondary-foreground: 340 30% 15%;
    --accent: 230 16% 22%;
    --accent-foreground: 230 16% 82%;
    --destructive: 8 89% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 340 100% 50%;
  }
}
